 body {
     background-color: burlywood;
 }

 h1 {
     background-color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     border-radius: 18px;
     padding: 14px;
     display: inline-block;
     /* para border-redius terminar no final de txto */
 }

 h3 {
     background-color: rgb(214, 168, 214);
     font-family: Arial, Helvetica, sans-serif;
     display: inline-flex;
     border-radius: 8px;
     padding: 12px;
 }

 .autor {
     background-color: rgb(170, 70, 193);
     border-radius: 10px;
     padding: 18px;
     display: inline-block;
 }

 .eleicoes {
     background-color: white;
     padding: 10px;
 }

 footer {
     text-align: center;
     padding: 10px;
 }

 footer a {
     text-decoration: none;
     background-color: rgb(23, 207, 149);
     padding: 12px;
     border-radius: 4px;
 }

 .menu {
     background-color: darkmagenta;
     padding: 15px;
 }

 .menu a {
     color: white;
     text-decoration: none;
     margin-right: 20px;
 }

 * {
     box-sizing: border-box;
 }

 body {
     background-color: burlywood;
     margin: 0;
     padding: 10px;
 }

 h1 {
     background-color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     border-radius: 18px;
     padding: 14px;
     display: inline-block;
     /* Faz o fundo terminar junto com o texto */
 }

 h3 {
     background-color: rgb(214, 168, 214);
     font-family: Arial, Helvetica, sans-serif;
     display: inline-block;
     border-radius: 8px;
     padding: 12px;
 }

 .menu {
     background-color: darkmagenta;
     padding: 15px;
 }

 .menu a {
     color: white;
     text-decoration: none;
     margin-right: 20px;
 }

 .eleicoes {
     background-color: white;
     padding: 10px;
 }


 /* Caixa de cada pessoa */
 .biografia {
     background-color: rgb(68, 173, 52);
     margin-bottom: 20px;
     padding: 15px;
     border-radius: 10px;
 }


 /* Organiza imagem e texto lado a lado */
 .conteudo-biografia {
     display: flex;
     gap: 20px;
     align-items: flex-start;
 }

 .site-partido {
     display: flex;
     gap: 20px;
     align-items: flex-start;
 }


 /* Tamanho das imagens */
 .conteudo-biografia img {
     width: 250px;
     height: auto;
     border-radius: 8px;
 }


 /* Texto */
 .conteudo-biografia p {
     margin: 0;
     line-height: 1.5;
 }


 .autor {
     background-color: rgb(170, 70, 193);
     border-radius: 10px;
     padding: 18px;
     display: inline-block;
 }

 footer {
     text-align: center;
     padding: 20px;
 }

 footer a {
     text-decoration: none;
     background-color: rgb(23, 207, 149);
     padding: 12px;
     border-radius: 4px;
 }


 /* Para celular */
 @media (max-width: 600px) {

     .conteudo-biografia {
         flex-direction: column;
     }

     .conteudo-biografia img {
         width: 100%;
     }
 }

 .centro-formacao {
     padding: 20px;
 }

 .tabela-horario {
     overflow-x: auto;
 }

 table {
     width: 100%;
     border: "1";

 }

 th,
 td {
     border: 1px solid black;
     padding: 10px;
     text-align: center;
 }

 th {
     background-color: cornflowerblue;
     color: white;
 }

 td {
     background-color: white;
 }

 .titulo-tabela-funcionarios {
     background-color: black;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: white;
     padding: 8px;
     padding-left: 11px;
     border-radius: 10px;
     text-align: center;
     display: inline-block;
 }

 .dados-tabela {
     font-family: Tahoma, Geneva, Verdana, sans-serif;
     width: 100%;
     border: "1";
 }